$color-red:hsl(12, 88%, 59%);
$color-dark-blue: hsl(228, 39%, 23%);
$color-light-gray:hsl(0, 0%, 98%);
$color-pale-red:hsl(13, 100%, 96%);
$color-darker-blue: hsl(233, 12%, 13%);
$color-grayish-blue:hsl(227, 12%, 61%);

//font family

$title-font: 'amiko', sans-serif;
$body-copy:roboto,sans-serif;

